@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
  <html>
  <head>
    <title>News Feed</title>
    <script type="text/javascript">
      $(document).ready(function() {
           $("form").submit(function(event) {
			event.preventDefault();
			$("#result").empty();
            $.ajax({
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'json',
                url: '@Url.Action("UpdateHeadlines")',
                success: function (result) {
                  console.log(result);
			      result.forEach(function(article) {
                    $("#result").append("<div class='well row'><div class='col-md-3'><img src='"+article.urlToImage+"'></div><div class='col-md-9'><h2><a href='"+article.url+"'>"+article.title+"</a></h2><p>"+article.description+"</p></div></div>");
			        })
                }
              });
	        });
		$("#Country").change(function() {
            $("form").submit();             
		})
		$("form").submit();
      });
    </script>
		<style>
    img {max-width:100%}
</style>
  </head>
  <body>
        <h2>Choose A Country</h2>
		@using (Html.BeginForm())
        {
         @Html.DropDownList("Country")
<!--		<input type="submit" value="Update" class="btn btn-default"/>-->
		}
         <hr>		
        
        <h2>News Feed</h2>
        <h4 class="display-view"></h4>
        <div id="result"></div>
  </body>
</html>